.skill {
    width: 250px;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

}

.icon {
    height: 60px;
    width: 60px;
    background-color: #eeffb0;
}
