.mainBlock {
    height: 100vh;
    background-color: #eeffb0;
}

.text {
    width: 300px;
    background-color: #e7e7e7;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #e7e7e7;
}
