.skillsBlock {
    height: 100vh;
    background-color: #ffc1f4;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: #e7e7e7;
}

.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}