.wrapper {
    height: 100px;
    background-color: rgba(199, 21, 133, 0.28);
    display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container h4, .container p {
    margin: 0;
}

.container p {
    font-size: small;
}

.iconNetwork {
    border: 1px solid;
    width: 60%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.iconNetwork div {
    height: 100%;
    width: 10%;
    background-color: #e7e7e7;
}
