.projectsBlock {
    height: 100vh;
    background-color: rgba(124, 20, 152, 0.38);
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    background-color: #e7e7e7;
}

.projects{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}